# IDE Configuration
/.idea/
/.vscode/launch.json
/.vscode/settings.json

# Javascript Environment
/node_modules/

# Python cache
**/__pycache__/

# Web build files
/build/
/dist/

# Secrets, defined using /** so we can also define exceptions
/secrets/**

# Exception to create /secrets/server/prod
!/secrets/server
!/secrets/server/prod
!/secrets/server/prod/.gitignore
