# Javascript Environment
/node_modules/

# IDE Configuration
**/.idea/
/.vscode/launch.json
/.vscode/settings.json
**/.vscode/settings.json

# Python caches
**/__pycache__/

# Batch file for locally executing reminders
/reminders.bat
