[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-infrastructure = {git = "https://github.com/fogies/aws-infrastructure.git", subdirectory = "aws_infrastructure", editable = true}
flask = "*"
flask-json = "*"
lorem = "*"
numpy = "*"
requests = "*"
waitress = "*"

[dev-packages]
pipenv = "*"

[requires]
python_version = "3.9"
