[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"

jupyterlab-lsp = "*"
python-lsp-server = {extras = ["all"], version = "*"}

jupyter-dash = "*"
numpy = "*"
pandas = "*"

jupyterlab-code-formatter = "*"
black = "*"
isort = "*"

jupytext = "*"
nbconvert = "*"

[packages.scope]
editable = true
path = "../scope_shared"

[dev-packages]

[requires]
python_version = "3.9"
