[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
jupyterlab = "*"
scope = {editable = true, path = "../scope_shared"}
pandas = "*"
jupytext = "*"

[dev-packages]

[requires]
python_version = "3.9"
