[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-json = "*"
jschon = "*"
lorem = "*"
numpy = "*"
pytest = "*"
requests = "*"
waitress = "*"
pymongo = "*"

[packages.scope]
editable = true
path = "../scope_shared"

[packages.aws_infrastructure]
git = "https://github.com/fogies/aws-infrastructure.git"
subdirectory = "aws_infrastructure"
editable = true

[dev-packages]

[requires]
python_version = "3.9"
