[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
pytest = "*"

[packages.scope]
editable = true
path = "../scope_shared"

[packages.aws_infrastructure]
git = "https://github.com/fogies/aws-infrastructure.git"
subdirectory = "aws_infrastructure"
editable = true

[dev-packages]

# Used by Celery filesystem broker in Windows development
pypiwin32 = {version = "*", sys_platform = "== 'win32'"}
# Dependencies of pypiwin32 must explicitly mark sys_platform per issue https://github.com/pypa/pipenv/issues/4117
pywin32 = {version = "*", sys_platform = "== 'win32'"}

[requires]
python_version = "3.9"
